/* Making the header stay at the top of the body and styling them */
html, body {
    height: 100%;
}

body {
    font-family: "Nerko One", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

body, h1 {
    margin: 0;
}

header {
    width: 100%;
    color: #f2c304;
    -webkit-text-stroke: 1px #2e67b0;
    text-transform: uppercase;
}

.content {
    flex: 1 0 auto;
}

/* Logo and font sizes */
h1 {
    font-size: 380%;
}

p {
    font-size: 170%;
}

/* Flexbox container to center image and keep it responsive */
.type-chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-chart-container img {
    display: block;
    width: 100%;
    max-width: 800px; /*actual image width or width you want it to be*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*centering of image*/
}

/* Styling the buttons */
.btn {
    font-family: "Nerko One", sans-serif;
    font-size: 110%;
    width: 10em;
}

.btn--blue {
    background-color: #01ffff;
}

.btn--brown {
    background-color: #ffcb99;
}

.btn--red {
    background-color: #fe0000;
}

.btn--green {
    background-color: #01cc00;
}

.btn--orange {
    background-color: #ff7f00;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* Making sure the footer stays at the bottom of the page */
.footer {
    flex-shrink: 0;
}
